<div class="col-md-8 col-lg-10">
    <div class="form-group hidden-md hidden-lg">
        <button class="btn btn-primary">{{if post.id 'Update' 'Publish'}}</button>
        {{#if post.created}}
            <p class="text-muted hidden-md hidden-lg">Created: {{display-date post.createdDate}} | Last Modified: {{display-date post.updatedDate}}</p>
        {{/if}}
    </div>
    <div class="form-group">
        <label for="title-input">Post Title</label>
        {{input type="text" value=post.title class="form-control" required=true }}
    </div>
    <div class="form-group">
        {{textarea class="form-control full-size" value=post.content}}
        <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target="_blank">Markdown Cheatsheet</a>
    </div>
</div>
<div class="col-md-4 col-lg-2">
    <div class="form-group hidden-sm hidden-xs">
        <button class="btn btn-primary btn-block">{{if post.id 'Update' 'Publish'}}</button>
    </div>
    {{#if post.created}}
        <p class="text-muted hidden-sm hidden-xs">Created: {{display-date post.createdDate}} | Last Modified: {{display-date post.updatedDate}}</p>
    {{/if}}
    <div class="form-group">
        <label>Status</label>
        {{#x-select class="form-control" value=post.status}}
            {{#each statusOptions as |status|}}
                {{#x-option value=status.value}}{{status.label}}{{/x-option}}
            {{/each}}
        {{/x-select}}
    </div>
    <div class="form-group">
        <label>Type</label>
        {{posts/select-type value=post.type}}
    </div>
    <div class="form-group">
        <label>Tags</label>
        {{posts/select-tags value=post.tags}}
    </div>
    <div class="form-group">
        <label>Reference URL</label>
        {{input type="text" class="form-control" value=post.referenceUrl}}
    </div>
    <div class="form-group">
        <label>Featured Image</label>
        {{posts/select-image value=post.featuredImage}}
    </div>
</div>
