<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Type
            </th>
            <th>
                Created
            </th>
            <th>
                Status
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        {{#each posts as |post|}}
            <tr>
                <td>
                    {{post.title}}
                </td>
                <td>
                    {{#unless post.emptyType}}
                        {{display-property model="type" id=post.type property="title"}}
                    {{else}}
                        Uncategorized
                    {{/unless}}
                </td>
                <td>
                    {{display-date post.createdDate}}
                </td>
                <td class="capitalize">
                    {{post.status}}
                </td>
                <td>
                    <a href="{{baseUrl}}{{post.slug}}" target="_blank"><i class="fa fa-eye"></i></a>
                    {{#link-to 'post' post.id}}<i class="fa fa-pencil"></i>{{/link-to}}
                </td>
            </tr>
        {{else}}
            <tr>
                <td colspan="5">You haven't added any posts.</td>
            </tr>
        {{/each}}
    </tbody>
</table>
