<div class="col-sm-7">
    <div class="form-group">
        <label>{{if image.id 'Upload a new image' 'Upload an Image'}}</label>
        {{file-input value=image.file placeholder=".png"}}
    </div>
    {{#if fullImageUrl}}
        <img src="{{fullImageUrl}}" />
    {{/if}}
</div>
<div class="col-sm-5">
    <div class="form-group">
        <label>Title</label>
        {{input type="text" value=image.title class="form-control" required=true disabled=loading}}
    </div>
    <div class="form-group">
        <label>Description</label>
        {{textarea value=image.description class="form-control" disabled=loading}}
    </div>
    <div class="form-group">
        <label>Url</label>
        {{input type="text" value=fullImageUrl readonly=true class="form-control url-input" action="selectUrl" on="focus-in"}}
    </div>
    <div class="form-group clearfix">
        <button class="btn btn-primary pull-right" type="submit" disabled={{disableSubmission}}>Save</button>
    </div>
    <div class="form-group clearfix">
        <button class="btn btn-danger pull-right" type="button" {{action 'delete'}}>Delete Image</button>
    </div>
</div>
